#map {
    height: 100%;
    width: 100%;
}

.leaflet-retina .leaflet-control-layers-toggle {
	background-image: url(https://icon-library.com/images/icon-menu-png/icon-menu-png-10.jpg);
    background-size: 40px 40px;
    background-color: brown;
    

	}

path.leaflet-interactive.animate {
    stroke-dasharray: 1920;
    stroke-dashoffset: 1920;
    animation: dash 15s linear 1s forwards;
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

  
.leaflet-routing-container{
    display: none;
}
.leaflet-marker-draggable{
    display: none;


}