#map {
    height: 100%;
    width: 100%;

}



.leaflet-retina .leaflet-control-layers-toggle {
	background-image: url(https://icon-library.com/images/icon-menu-png/icon-menu-png-10.jpg);
    background-size: 40px 40px;
    background-color: brown;
    

	}
